#menu
{
	position: fixed;
	width: 100%;
	background: #99bbff;
	text-align: center;
	padding: 30px 30px;
	font-size: 20px;
	font-family: fantasy;
}

#menu a{
	padding: 30px 30px;
	color: black;
}

#menu a:hover {
	background-color: #ccddff;
	padding: 30px 30px;
  }

section{
	font-family: 'Franklin Gothic Medium';
	font-size: 18px;
	width: 100%;
	text-align: center;
  }

#about{
	background: #e6f2ff;
	text-align: center; /*check*/
  }
#playlist{
	background: #e6f2ff;
  }
#qrcoder{
	background: #e6f2ff;
  }
#contact{
	background: #e6f2ff;
  }

h1{
	color: #99bbff;
	font-size: 50px;
	font-family: fantasy;
	text-align: center;
  }

input[type=text]{
	width: 30%;
	text-align: center;
	padding: 10px 10px;
	margin: 3px 0;
	font-family:  'Franklin Gothic Medium';
	font-size: 18px;
	border-radius: 10px;
  }

input[type=text]:focus {
	background-color: #ccddff;
  }

textarea{
	width: 30%;
	text-align: center;
	margin: 3px 0;
	font-family:  'Franklin Gothic Medium';
	font-size: 18px;
	border-radius: 10px;
	padding: 50px 10px;
}

textarea:focus {
	background-color: #ccddff;
  }

input[type=submit]{
	font-family:  'Franklin Gothic Medium';
	font-size: 18px;
	border-radius: 10px;
	background: #99bbff;
	padding: 10px 30px;
	margin: 0 10px;
	width: 14%;
}

input[type=reset]{
	font-family:  'Franklin Gothic Medium';
	font-size: 18px;
	border-radius: 10px;
	background: #99bbff;
	padding: 10px 30px;
	width: 14%;
}

input[type=reset]:hover {
	background-color: #ccddff;
  }

input[type=submit]:hover {
	background-color: #ccddff;
  }